body {
    background-color: rgb(104, 235, 180);
    /* background-image: url("R.png"); */
}

#football{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* 小さな負の z-index で最背面に配置 */
    opacity: 0.2; /* 透明度を設定 */
}

h1{
    text-align: center;
    font-size: 60px;
    color: rgb(173, 10, 248);
    position: relative;
}

.select-container{
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    overflow-y: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

.searchButton {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#result{
    text-align: center;
    margin: auto;
}

#results{
    margin-top: 60px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
th {
    background-color: #f2f2f2;
}